@charset "UTF-8";
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --alt-accent-color: #188ce8;
  --secondory-text-color: rgba(255, 255, 255, 0.6);
  --background-black-color: #2f303a;
  --background-white-color: #ffffff;
  --background-second-color: #e5e5e5;
  --background-alt-color: #f5f4fa;
  --border-color: #ececec;
  --border-color-second: #eeeeee;
  --icon-fill-color-primary: #afb1b8;
  --main-font: Roboto, sans-serif;
}

/* Убирает точку в списке */
.list {
  list-style: none;
}

body {
  background-color: var(--background-white-color);
  color: var(--primery-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

/* Убирает подчеркивание у ссылок */
a {
  text-decoration: none;
}

img {
  display: block;
}

/* Скрывает логические заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* убирает нижний падинг */
.section.nopading {
  padding-bottom: 0;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Заголовки h2 */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* фон не основной */
.second-bg-color {
  background-color: var(--background-alt-color);
}

/* Нижняя граница у heder */
.header {
  border-bottom: 1px solid var(--border-color);
}

/* собирает весь header вместе */
.header__container {
  display: flex;
  align-items: center;
}

.main-nav {
  margin-left: 93px;
}

/* site-nav */
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* css переход анимации */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.site-nav__link:focus, .site-nav__link:hover {
  color: var(--accent-text-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/* показывает текущуюю страницу */
.site-nav__link--current {
  position: relative;
  display: block;
  color: var(--accent-text-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

/* добавляет подчеркивание текужей странице */
/* contacts */
.contacts {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

/* иконки для heared */
.contacts__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--mail {
  width: 16px;
  height: 12px;
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.contacts__link:focus, .contacts__link:hover {
  color: var(--accent-text-color);
}

/* Логотип Logo  */
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__text--dark {
  color: var(--title-text-color);
}

.logo__text--white {
  color: var(--background-white-color);
}

/* Кнопка!!! */
.button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  color: var(--title-text-color);
  background-color: var(--background-alt-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  /* css переход анимации */
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.button:hover, .button:focus {
  color: var(--background-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero__button {
  padding: 10px 32px;
  color: var(--background-white-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero__button:focus, .hero__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--alt-accent-color);
}

.button-subscibe.module {
  background-color: var(--alt-accent-color);
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.button-subscibe.module:focus,
.button-subscibe.module:hover {
  background-color: var(--accent-text-color);
}

/* Кнопка-иконка закрытия окна */
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-white-color);
  color: #000000;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.close:hover {
  color: var(--accent-text-color);
}

.modal-close-icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.button-subscibe {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  color: var(--background-white-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.button-subscibe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-black-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-white-color);
}

/* Преимущества advantage */
.advantage {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantage__lable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-alt-color);
  border-radius: 4px;
}

.advantage__item {
  min-width: 270px;
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}

/* advantage-icon Иконки */
.advantage__icon {
  height: 70px;
  width: 70px;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

/*  <!--Чем мы занимаемся--> */
.examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.examples__item:not(:last-child) {
  margin-right: 30px;
}

.examples__icon {
  position: relative;
}

.examples__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 70px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--background-white-color);
}

/* <!--Наша команда--> */
.team {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-white-color);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

/* social-link */
.social-links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

/* ссылка с картинкой */
.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-fill-color-primary);
  border-radius: 50%;
  /* css переход */
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-links__link:focus, .social-links__link:hover {
  background-color: var(--accent-text-color);
  color: var(--background-white-color);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Дополнительный класс new 
для переопределения цветов иконок */
.social-links__link--new {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--background-white-color);
}

.social-links__link--new:focus, .social-links__link--new:hover {
  background-color: var(--accent-text-color);
}

/* Наши клиенты */
.clients {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__place {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-fill-color-primary);
  fill: var(--icon-fill-color-primary);
  border-radius: 4px;
  /* css переход анимации */
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.clients__place:focus, .clients__place:hover {
  border: 1px solid var(--accent-text-color);
  fill: var(--accent-text-color);
}

.clients__icon {
  height: 60px;
  width: 106px;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-black-color);
}

.footer-address {
  margin-top: 20px;
}

.address {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address > .item:not(:last-child) {
  margin-bottom: 9px;
}

.address .first {
  color: var(--background-white-color);
}

.address .link {
  color: var(--secondory-text-color);
  /* css переход анимации */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.address .link:hover, .address .link:focus {
  color: var(--accent-text-color);
}

/* Присоединяйтесь! */
.footer-links .title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--background-white-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-links {
  margin-left: 70px;
}

/* backdrop  фон модального окна*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: visible;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background-white-color);
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--title-text-color);
}

.modal-form {
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}

.form-field-label {
  cursor: pointer;
  margin-bottom: 4px;
}

.lable-icon {
  position: absolute;
  left: 12px;
  top: 35px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  width: 18px;
  height: 18px;
  fill: #000000;
}

.form-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field-input:focus {
  border-color: var(--alt-accent-color);
  outline: transparent;
}

.form-field-input:focus + .lable-icon {
  fill: var(--alt-accent-color);
}

.form-field-input {
  padding: 12px 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  letter-spacing: 0.01em;
  color: #000000;
  cursor: pointer;
}

/* для коментария */
.form-field-input.comen {
  font-size: 14px;
  padding: 12px 16px;
  resize: none;
}

.form-field.comen {
  margin-bottom: 20px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox label {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
}

.checkbox a {
  margin-left: 5px;
  color: var(--accent-text-color);
  text-decoration: underline;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition-property: background-color, border-color, border-radius, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-width: 3px;
  border: 1px solid var(--title-text-color);
  fill: var(--background-white-color);
}

.checkbox-input {
  position: absolute;
  appearance: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon {
  background-color: var(--accent-text-color);
  border-color: transparent;
  border-radius: 2px;
  box-shadow: none;
}

/* Подпишитесь на рассылку */
.form-subscibe {
  display: flex;
}

.form-subscibe-input {
  width: 358px;
  margin-right: 10px;
  padding: 15px 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

/* Страница Портфолио */
.filtr {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 50px;
}

.filtr__item:not(:last-child) {
  margin-right: 8px;
}

.section .projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* Описание карточки элементов */
.projects .about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  margin: 0;
  width: 325px;
  font-size: 18px;
  line-height: 1.56;
  /* transform: translateY(100%); */
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  color: var(--background-white-color);
}

/* хофер для текста при ховере на картинку
 открой текст внутри */
.projects .projects-link:focus .about,
.projects .projects-link:hover .about {
  transform: translate(-50%, -50%);
}

.overlay::before {
  position: absolute;
  display: block;
  content: '';
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  transform: translateY(105%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

/* ховер для элемента Before */
.projects-link:focus .overlay::before,
.projects-link:hover .overlay::before {
  transform: translateY(0);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.projects > .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects > .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-link {
  width: 370px;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

/* добавляет тень при наведении на карточку
именно на ссылку */
.projects-link:focus,
.projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-text-name {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color-second);
  border-left: 1px solid var(--border-color-second);
  border-right: 1px solid var(--border-color-second);
  /* background-color: tomato; */
}

.projects .title {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */