:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --alt-accent-color: #188ce8;
  --secondory-text-color: rgba(255, 255, 255, 0.6);
  --background-black-color: #2f303a;
  --background-white-color: #ffffff;
  --background-second-color: #e5e5e5;
  --background-alt-color: #f5f4fa;
  --border-color: #ececec;
  --border-color-second: #eeeeee;
  --icon-fill-color-primary: #afb1b8;

  --main-font: Roboto, sans-serif;
  --logo-font:Raleway, sans-serif;
}
