/* Страница Портфолио */
.filtr {
  display: flex;
  flex-wrap: wrap;
  
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 30px;

  @media screen and(max-width:412px) {
    flex-direction: column;
    align-items: center;  
    }


  @include mq(tablet){
    justify-content: center;
    }

  @include mq(desktop){
    margin-bottom: 50px;
    }
}




.filtr__item {
  
  @media screen and(max-width:412px) {
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }

  @media screen and(min-width:412px) and (max-width:767px){
    &:not(:last-child) {
      margin-right: 8px;}
      
    &:nth-child(-n+3) {
      margin-bottom: 15px;
        }
      
    &:nth-child(3n) {
       margin-right: 0px;
        }
      }


  @include mq(tablet){
    &:not(:last-child){
      margin-right: 8px;
      }
  }
  }

.section .projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
