/* Убирает точку в списке */
.list {
  list-style: none;
}

body {
  background-color: var(--background-white-color);
  color: var(--primery-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

/* Убирает подчеркивание у ссылок */
a {
  text-decoration: none;
}

img {
  display: block;
}

/* Скрывает логические заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* убирает нижний падинг */
.section.nopading {
  padding-bottom: 0;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* Заголовки h2 */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* фон не основной */

.second-bg-color {
  background-color: var(--background-alt-color);
}
