/* Убирает точку в списке */
.list {
  list-style: none;
}

body {
  background-color: var(--background-white-color);
  color: var(--primery-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

/* Убирает подчеркивание у ссылок */
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height:auto;
}

/* Скрывает логические заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* убирает нижний падинг */
// .section.nopading {
//   padding-bottom: 0;
// }

.container {
  padding: 0 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}


/* Заголовки h2 */
.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  
  

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @include mq(desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    
  }

}
/* фон не основной */

.second-bg-color {
  background-color: var(--background-alt-color);
}
